body{
  background-color: #1E8EC3;
  font-family: Helvetica,Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
#topBar{
  background-color: #1679A9;
  height: 40px;
  padding-bottom: 3.1%;
}

.iconos_topBar{
  font-size: larger;
  margin-top: 0.5%;
  margin-left: 0.5%;
  border-radius: 2px;
  color: #FFFFFF;
  border-width: 0px;
  border-style: none;
  background-color: #67A7C5;
  height: 25px;
}

.iconos_rigth{
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  width: 32px;
  margin-left: 0%;
  margin-right: 0.6%;
  margin-bottom: 2%;
}

#icono_tablero{
  width: 100px;
}
#input_buscador{
  margin-right: 0px;
  border-right: none;
  border-radius: 0px;
}
#search_icon{
  color: #FFFFFF;
  background-color: #67A7C5;
  margin-left: 0px;
  text-align: center;
  padding-top: 0.4%;
  border-radius: 0px;
  width: 30px;
}
#logo_container{
  text-align: center;
  width: 60%;
}
#logo{
  height: 30px;
  width: 80px;
  opacity: 0.5;
  margin-top: 1%;
}
#foto_perfil{
  width: 42px;
  height: 39px;
  
}

.iconos_subMenu{
  font-size: larger;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 0%;
  border-radius: 2px;
  color: #FFFFFF;
  border-width: 0px;
  border-style: none;
  background-color: #1E8EC3;
  display: table-cell;
}
#titulo_tablero{
  font-weight: 700;
  padding-left: 10px;
  margin-left: 2%;
}
.barras{
  font-size: larger;
  opacity: 0.3;
}
.textos_submenu{
  color: #f6f6f6;
}
.side_menu{
  float: right;
  font-size: 14px;
  height: 32px;
  margin-right: 20px;
  padding-top: 1%;
  width: max-content;
}

#textos_left2{
  text-decoration: underline;
}
/* Funcionalidad Aparecer y Desaparecer */
.disappear {
  display: none;
}

.show {
  display: inline-block;
}
#addList{
  position: absolute;
  top: initial;
  background-color: #1679A9;
  color: #FFFFFF;
  width: 20em;
  height: 45px;
  border-radius: 3px;
  padding: 15px;
  margin-left: 1%;
  
}
#addName{
  background: #E1E3E6;
  border-radius: 3px;
  margin: 0px;
  margin-left: 1%;
  padding: 1%;
  width: 20em;
}
.input_text_post{
  box-align: center;
  margin-top: 2%;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #568BD4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(149, 179, 219, 0.26);
  border-radius: 3px;
  padding-top: 3%;
  width: 18em;
  display: block;
}
input::placeholder {
  font-size: 15px;
  color: #C4C4C4;
  padding: 0.5%;
}
.closeButton{
  color: #9B9B9B;
  border-width: 0px;
  border-style: none;
  background-color: #E1E3E6;
  height: 40px;
  font-size: x-large;
}
/* #placeNewList{
  background: #E1E3E6;
  border-radius: 3px;
  margin: 0px;
  margin-left: 1%;
  padding: 1%;
} */

.list{
  display: inline-block;
  background: #E1E3E6;
  border-radius: 3px;
  margin: 0px;
  margin-left: 1%;
  margin-top: 0%;
  padding: 1%;
  width: 20em;
}
#divListName{
  display: inline;
  color: black;
  padding-left: 5%;
  font-size: larger;
  font-weight: bold;
}
#masButton{
  position: relative;
  color: #9B9B9B;
  /* font-size: xx-large; */
  margin-left: 10%;
  border-width: 0px;
  border-style: none;
  background-color: #E1E3E6;
  float: right;
}
.addCardButton{
  color: #9B9B9B;
  border-width: 0px;
  border-style: none;
  background-color: #E1E3E6;
  width: 100%;
  text-align: left;
}

#masButton:hover{
  background-color: #9B9B9B; 
  color: #4D5054; 
}
.addCardButton:hover{
  background-color: #9B9B9B; 
  color: #4D5054; 
  text-decoration: underline;
}

.newCard{
  box-align: center;
  margin-top: 2%;
  margin-left: 1%;
  text-align: left;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
  padding-top: 3%; 
  padding-left: 2%;
}

#newCardDiv{
  display: none;
}

#text_tablero{
  display: inline-block;
  margin-left: 4%;
}
/* Tamaño movil */

@media screen and (max-width: 425px) {
  #topBar{
    width: 350px;
  }
  #text_tablero{
    display: none;
  }
  #icono_tablero {
    width: 32px;
  }
  #input_buscador{
    display: none;
  }
  #search_icon{
    padding-top: 2%;
    font-size: large;
    width: 32px;
    height: 32px;
    margin-left: 1%;
    border-radius: 3px;
  }
  .iconos_topBar{
    width: 32px;
    height: 32px;
  }
  #clock{
    display: none;
  }
  #logo_container {
   width: 42%;
   text-align: right;
   padding-right: 3%;
  }
  .monitos_subMenu{
   font-size: small;
  }
  #subMenu_row{
    padding-top: 5%;
    margin-left: 0.1%;
  }
  #star{
    padding-right: 26%;
  }
  #addList{
    margin-left: 2%;
  }
}